<ul class="nav">
    <li class="nav-item">@Html.ActionLink("Dashboard", "List", "Client")</li>
    <li class="nav-item">@Html.ActionLink("Create Client", "Create", "Client")</li>
    <li class="nav-item">@Html.ActionLink("Users", "List", "User")</li>
    <li class="nav-item">@Html.ActionLink("Create User", "Create", "User")</li>
</ul>